pandas
matplotlib
pyyaml
python-dotenv
pylogg @ git+https://github.com/akhlakm/python-logg.git
pytest
matplotlib_venn

# -------------- FRONTEND ----------------
streamlit
stqdm

# -------------- BACKEND ----------------
sshtunnel
psycopg2-binary
sqlalchemy >= 2.0
tqdm
openpyxl
ChemDataExtractor @ git+https://github.com/akhlakm/ChemDataExtractor.git
argcomplete
tiktoken

# ------------- DOWNLOADER ------------------
crossref-commons
lxml
psycopg[binary]
psycopg[pool]
playwright
