pandas
matplotlib
pyyaml
python-dotenv
git+https://github.com/akhlakm/python-logg.git

# -------------- FRONTEND ----------------
streamlit
# langchain
stqdm

# -------------- BACKEND ----------------
psycopg2-binary
sqlalchemy >= 2.0
tqdm
openpyxl
