numpy
pandas
scipy
scikit-learn
matplotlib

pyyaml
argcomplete
python-dotenv

tqdm
lxml
pytest
pylogg

sshtunnel
pymongo
psycopg2-binary
sqlalchemy >= 2.0

openai
tiktoken
openpyxl

spacy
textacy
chardet
cchardet
unidecode
levenshtein
charset-normalizer >= 3.1.0
ChemDataExtractor @ git+https://github.com/akhlakm/ChemDataExtractor.git

ninja
tokenizers
safetensors
transformers
huggingface-hub
