python-dotenv
spacy
torch==2.0.1
safetensors
transformers
debugpy
lxml
ninja
nltk
openai
numpy
pandas
scikit-learn
scipy
tqdm
wandb
huggingface-hub
tokenizers
levenshtein
charset-normalizer>=3.1.0
ChemDataExtractor @ git+https://github.com/akhlakm/ChemDataExtractor.git
pymongo
unidecode
openpyxl
matplotlib
chardet
cchardet
tiktoken
textacy
